.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ALLpaQInfo {
    display: grid;
    gap: 10vw;
    font-family: Inter, sans-serif;
    width: 80vw;
    grid-template-columns: 2fr 3fr;
    margin: 10vh 0;
}

.ALLpaQHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 6.5vw;
    margin: 0;
    font-weight: 900;
}

.ALLpaQHeading h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.ALLpaQOverview h3 {
    font-size: 1.7vw;
    font-weight: 700;
    margin-top: 12px;
}

.ALLpaQOverview p {
    font-size: 1.7vw;
    font-weight: 400;
}

.ALLpaQOverview a {
    color: #FFA31A;
}

.container video, .container img {
    max-width: 100vw;
}

.rocksImg {
    width: 100vw;
    margin-left: clamp(300px, 60vw, 900px);
}
