.scrollBtn {
    position: fixed;
    bottom: 1.1vw;
    right: 1.1vw;
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
}

.scrollBtn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}