.scrollBtn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
}

.scrollBtn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}