.scrollBtn {
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.scrollBtn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}