.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.APEInfo {
    display: flex;
    gap: 120px;
    font-family: Inter, sans-serif;
}

.APEHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    margin: 0;
    font-weight: 900;
}

.APEHeading h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.APEOverview h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
}

.APEOverview p {
    width: 530px;
    font-size: 24px;
    font-weight: 400;
}

.APEOverview a {
    color: #FFA31A;
}

.container video, .container img {
    max-width: 90vw;
}
