.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.APEHeader {
    width: 100vw !important;
}

.APEInfo {
    display: grid;
    gap: 10vw;
    font-family: Inter, sans-serif;
    width: 80vw;
    grid-template-columns: 2fr 3fr;
    margin: 10vh 0;
}

.APEHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 4.5vw;
    margin: 0;
    font-weight: 900;
}

.APEHeading h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.APEOverview h3 {
    font-size: 1.7vw;
    font-weight: 700;
    margin-top: 12px;
}

.APEOverview p {
    font-size: 1.7vw;
    font-weight: 400;
}

.APEOverview a {
    color: #FFA31A;
}

.container video, .container > img {
    width: 90vw;
    margin: 126px 0;
}
