.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}

.fundomundoHeader {
    width: 100vw !important;
}

.fundomundoInfo {
    display: grid;
    gap: 10vw;
    font-family: Inter, sans-serif;
    width: 80vw;
    grid-template-columns: 2fr 3fr;
    margin: 10vh 0;
}

.fundomundoHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 4vw;
    margin: 0;
    font-weight: 900;
}

.fundomundoHeading h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.fundomundoOverview h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 32px;
        }
    };
    @media only screen and (min-width: 1750px) {
        & {
            font-size: 48px;
        }
    }
}

.fundomundoOverview p {
    font-size: 18px;
    font-weight: 400;
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 32px;
        }
    };
    @media only screen and (min-width: 1750px) {
        & {
            font-size: 48px;
        }
    }
}

.fundomundoOverview a {
    color: #FFA31A;
}

.container video, .container > img {
    width: 90vw;
}
