.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CMAHero {
    width: 100vw;
    height: 60vw;
    overflow: hidden;
}

.CMAHero img:first-child {
    width: 75%;
    position: relative;
    left: 25%;
    top: 0%;
}

.CMAHero img:last-child {
    position: relative;
    top: -65%;
    left: 0px;
    width: 65%;
}

.CMAInfo {
    display: grid;
    gap: 10vw;
    font-family: Inter, sans-serif;
    width: 80vw;
    grid-template-columns: 2fr 3fr;
    margin: 10vh 0;
}

.CMAHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 6.5vw;
    margin: 0;
    font-weight: 900;
}

.CMAHeading h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.CMAOverview h3 {
    font-size: 1.7vw;
    font-weight: 700;
    margin-top: 12px;
}

.CMAOverview p {
    font-size: 1.7vw;
    font-weight: 400;
}

.CMAOverview a {
    color: #FFA31A;
}

.container video, .container > img {
    width: 75vw;
}

.CMAGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;
    width: 75vw;
    margin: 126px 0;
}

.CMAGrid video {
    height: calc((75vw - 18px)/2);
    width: calc((75vw - 18px)/2);
}

