.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FCASHeader {
    width: 135vw !important;
    margin-right: 35vw !important;
}

.FCASInfo {
    display: grid;
    gap: 10vw;
    font-family: Inter, sans-serif;
    width: 80vw;
    grid-template-columns: 2fr 3fr;
    margin: 10vh 0;
}

.FCASHeading h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 4vw;
    margin: 0;
    font-weight: 900;
}

.FCASHeading h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.FCASOverview h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 32px;
        }
    };
    @media only screen and (min-width: 1750px) {
        & {
            font-size: 48px;
        }
    }
}

.FCASOverview p {
    font-size: 18px;
    font-weight: 400;
    > a {
        text-decoration: underline;
    };
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 32px;
        }
    };
    @media only screen and (min-width: 1750px) {
        & {
            font-size: 48px;
        }
    }
}

.FCASOverview a {
    color: #FFA31A;
}

.container > img {
    width: 90vw;
    margin: 3vw 0;
}

.FCASGrid {
    width: 90%;
    margin: 3vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.5vw;
    > :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
    }
    > :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
    }
    > :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%;
    }
    > :nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        width: 100%;
    }
}

.FCASImgGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 2.5vw;
    margin: 3vw 0;
    > img {
        width: 90%;
    }
}
