.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    cursor: pointer;
    width: 500px;
}

.footer img {
    width: 20px;
    height: 20px;
}

.footer p {
    width: 200px;
    font-family: Inter, sans-serif;
}

.name {
    text-align: right;
}

.role {
    text-align: left;
}
