.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.3vw;
    margin: 24px 0;
    cursor: pointer;
    width: 100vw;
    font-size: 0.8vw !important;
    font-family: Inter, sans-serif;
}

.footer img {
    width: 1.4vw;
    aspect-ratio: 1;
}

.footer p {
    width: 14vw;
    font-family: Inter, sans-serif;
}

.name {
    text-align: right;
}

.role {
    text-align: left;
}
