/* Clash Display */
@font-face {
  font-family: 'Clash Display';
  src: url('//cdn.fontshare.com/wf/2QNEFGROUS53RDOVAHQH4CNZZUWGOWOY/XHI55XFKRZLKG77T3N3QTH2YVHMLJQ5U/KVT4BC5ZH7LF4OBHM2Q7KOOZRRZZY5ZK.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/2QNEFGROUS53RDOVAHQH4CNZZUWGOWOY/XHI55XFKRZLKG77T3N3QTH2YVHMLJQ5U/KVT4BC5ZH7LF4OBHM2Q7KOOZRRZZY5ZK.woff') format('woff'),
       url('//cdn.fontshare.com/wf/2QNEFGROUS53RDOVAHQH4CNZZUWGOWOY/XHI55XFKRZLKG77T3N3QTH2YVHMLJQ5U/KVT4BC5ZH7LF4OBHM2Q7KOOZRRZZY5ZK.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('//cdn.fontshare.com/wf/VFMK2COV3DN37JR7JQ4CAOJPZ7KWKNY7/ODD5YJNDLHZZB2MIT3DPVH4EIHAMZ34D/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/VFMK2COV3DN37JR7JQ4CAOJPZ7KWKNY7/ODD5YJNDLHZZB2MIT3DPVH4EIHAMZ34D/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff') format('woff'),
       url('//cdn.fontshare.com/wf/VFMK2COV3DN37JR7JQ4CAOJPZ7KWKNY7/ODD5YJNDLHZZB2MIT3DPVH4EIHAMZ34D/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('//cdn.fontshare.com/wf/FPDAZ2S6SW4QMSRIIKNNGTPM6VIXYMKO/5HNPQ453FRLIQWV2FNOBUU3FKTDZQVSG/Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/FPDAZ2S6SW4QMSRIIKNNGTPM6VIXYMKO/5HNPQ453FRLIQWV2FNOBUU3FKTDZQVSG/Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff') format('woff'),
       url('//cdn.fontshare.com/wf/FPDAZ2S6SW4QMSRIIKNNGTPM6VIXYMKO/5HNPQ453FRLIQWV2FNOBUU3FKTDZQVSG/Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

* {
  color: #F1F1F1;
  overflow-x: hidden;
}

nav {
  padding: 0.6vw 0px;
  margin-top: 3.3vw;
  font-family: Inter, sans-serif;
  font-size: 1.4vw;
}

nav ul {
  display: flex;
  gap: 2.1vw;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
}

.darkLink:hover {
  color: rgba(13, 13, 13, 0.8);
}

.lightLink:hover {
  color: rgba(256, 256, 256, 0.8);
}

nav a:focus, nav a.active {
  color: #FFA31A;
}

.dark {
  background-color: #0D0D0D;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.dark ul, .dark li {
  background-color: #0D0D0D;
}

.dark a {
  color: #F1F1F1;
}

.light {
  background-color: #F1F1F1;
  border-top: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
}

.light ul, .light li {
  background-color: #F1F1F1;
}

.light a {
  color: #0D0D0D;
}

.darkTextHeading {
  color: rgba(13, 13, 13, 0.8);
}

.lightTextHeading {
  color: rgba(241, 241, 241, 0.80);
}

.darkText {
  color:#0D0D0D;
}

.lightText {
  color: #F1F1F1;
}

.footerLight {
  color: #F1F1F1;
}

.footerDark {
  color: #0D0D0D;
}

.bodyContainer {
  border: none;
}

.light.footer {
  border-top: 1px solid #F1F1F1 !important;
  border-bottom: 1px solid #F1F1F1 !important;
}

.dark.footer {
  border-top: 1px solid #0D0D0D !important;
  border-bottom: 1px solid #0D0D0D !important;
}