.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-y: hidden;
    margin-top: 56px;
}

.cardsContainer a {
    text-decoration: none;
}

.heading {
    display: none;
    position: relative;
    padding: 24px;
    width: inherit;
    bottom: 60vh;
    font-size: 48px;
    font-weight: 700;
    color: rgb(241, 241, 241);
    overflow: hidden;
}

.caption {
    display: none;
    position: absolute;
    top: 550px;
    width: inherit;
    text-wrap: nowrap;
}

.caption hr {
    width: 24px;
    margin-left: 24px;
}

.caption ul {
    padding-left: 24px;
    background-color: transparent;
}

.caption ul li {
    background-color: transparent;
    font-size: 24px;
    font-family: Inter, sans-serif;
}

.project {
    height: 500px;
    width: 100px;
    margin: 0 24px;
    transition: width 1s ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
}

.project:hover {
    width: 400px;
    height: 500px;
    margin: 0 24px;
    transition: width 1s ease-in-out;
    overflow-y: hidden;
}

.project:hover > .heading, .project:hover > .caption {
    display: block;
}

.project img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter 1s ease-in-out;
}

.project:hover img {
    filter: none !important;
    -webkit-filter: none !important;
    transition: filter 1s ease-in-out;
}

.darkText, .darkText ul li {
    color: rgb(13, 13, 13);
}

.darkText hr {
    background-color: rgb(13, 13, 13);
    border-color: rgb(13, 13, 13);
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    font-size: 14px;
}
