.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin-top: 56px;
}

.cardsContainer a {
    text-decoration: none;
}

.projectInfo {
    height: 100%;
    width: inherit;
    position: relative;
    top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

.heading {
    visibility: hidden;
    padding: 50px 10%;
    width: inherit;
    font-size: 48px;
    font-weight: 700;
    color: rgb(241, 241, 241);
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
        & {
            font-size: 36px;
        }
    };
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 96px;
            padding-top: 100px;
        }
    }
}

.caption {
    visibility: hidden;
    width: inherit;
    text-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 70px;
    @media only screen and (max-width: 1200px) {
        & {
            padding-bottom: 30px;
        }
    };
}

.caption hr {
    width: 24px;
    margin-left: 10%;
    @media only screen and (min-width: 1441px) {
        & {
            width: 56px;
        }
    }
}

.caption ul {
    padding-left: 10%;
    background-color: transparent;
}

.caption ul li {
    background-color: transparent;
    font-size: 24px;
    font-family: Inter, sans-serif;
    @media only screen and (min-width: 1441px) {
        & {
            font-size: 48px;
        }
    }
}

.project {
    height: 700px;
    width: 100px;
    margin: 0 24px;
    transition: width 1s ease-in-out;
    cursor: pointer;
    overflow-y: hidden;
    @media only screen and (max-width: 1200px) {
        & {
            height: 500px;
            width: 75px;
        }
    };
    @media only screen and (min-width: 1700px) {
        & {
            height: 1400px;
            width: 200px;
        }
    }
}

.project:hover {
    width: 400px;
    height: 700px;
    margin: 0 24px;
    transition: width 1s ease-in-out;
    overflow-y: hidden;
    .projectInfo, .heading, .caption {
        visibility: visible;
    };
    @media only screen and (max-width: 1200px) {
        & {
            height: 500px;
            width: 300px;
        }
    };
    @media only screen and (min-width: 1441px) {
        & {
            height: 1400px;
            width: 800px;
        }
    };
}

.project img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter 1s ease-in-out;
}

.project:hover img {
    filter: none !important;
    -webkit-filter: none !important;
    transition: filter 1s ease-in-out;
}

.darkText, .darkText ul li {
    color: rgb(13, 13, 13);
}

.darkText hr {
    background-color: rgb(13, 13, 13);
    border-color: rgb(13, 13, 13);
}
